@charset "utf-8";
/* CSS Document */
/* Main Div css */
div{
	overflow: hidden;	
}

p
{
	font-family: 'poppins';
	font-size: 1em;
}
h5{
	font-family:'kabayan';
	font-size: 5.5em;
	color:  #017ab3;
}

.aboutme{
	text-align:left;
	font-family: 'poppins';
	font-size: 18px;
	font-style: oblique;
	text-decoration-color:#0B4A8C;
   padding: 15px;
  
   
		
}
.heading{
    width:300px;
    display: flex;
    border: 1px black;
}
.education{
	text-align:left;
	font-family: 'poppins';
	font-size: 14px;
	font-style: oblique;
	text-decoration-color:#0B4A8C;
		
}
.experience{
	text-align:left;
	font-family: 'kabayan';
	font-size: 30px;
	font-style:italic;
	color: gray;
		
}
.body{
	
	
	background-repeat: no-repeat;
	height: 800px;
}
.logo{
	
	width:150px;
}
.rightbar{
	float: right;
	display: flex;
	background-color:#2b2a2a;
	height:860px;
	width:51px;
	list-style: none;
	

}

.flex-container {
  display: flex;
width: 1200px;
	

}

.flex-container > div {
  margin: 10px;
  padding: 10px;
  font-size:14px;
  font-family: 'poppins';
  color: black;
 
}
header {
    width: 80%;
	height: 8%;
	float: right;
	}

    

nav
{
    width: 50%;
	text-align: right;
	margin-right: 15px;
	float: right;


}
header nav ul{
	
	list-style: none;
	float: right;
	
}
nav ul li{
	
	list-style: none;
	float: left;
	font-size: 18px;
	text-align: left;
	margin-right: 25px;
	
}
ul li a {
	color: #030303;
	text-decoration: none;
}
ul li:hover a{
	color:#04c5d3;
	text-decoration: none;
    
	
}

  .jumboCopy
  {
	background-image: url("../Images/IMG_1943.JPG");
    background-repeat: no-repeat;
    display: flex;
	background-repeat: no-repeat;
	height: 200px;

		
  }
  /* Cards */
  .card{
	border: none;	
	float: center;
	border-radius: 30px;
  }
  .card-body1{
	background-color: #f5ef98;
	padding: 15px;
	border: none;
	width: 650px;
  }
  .card-body{
	padding: 15px;
	border: none;
	border-radius: 15px;
	  }
.content {
    padding: 50px;
  }
  .sectionHeading {
    text-align: center;
    font-family: cursive;
    font-size: 25px;
  }
  .showsNear  {
    padding: 0px 30px 30px 30px;
  }
  .cardContainer {
    text-align: center;
	
  }
  .card-text
  {
	font-family: 'Poppins';
	font-size: 14px;
	color: #383737;
  }
  .card-title
  {
	font-family:'Poppins';
	color: #3c3d3d;
	font-size: 25px;
  }
  .btnprimary :hover{
	background-color: #23a3df;
	color: #ffffff;
	font-family: 'poppins';
	font-size: 14px;
	padding: 10px;
	border-radius: 5px;
	

  }
 
 .img-fluid-rounded-start{
	border-radius: 100px;
	float: right;
 }
  .col-md-8{
	background-color: #FFDE59;
	border-radius: 80px;
	border: none;
  }

  .col-md-5{
	background-color: #b9b7b7;
	border-radius: 20px;
	border: none;
  }
  .card-mb-3{
	border: none;
	float: inline-end;
  }
  .col-sm-6{
	border-radius: 20px;
	border: none;

  }
  .col-md-4{
	border-radius: 20px;
  }
 
  .row
  {
	border: none;
	border-radius: 30px;
	border-color: #ffffff;
  }
	
.footer

{
   font-family: 'Poppins';
   font-size: 0.75em;
   background-color: #2b2a2a;
   height:50px;
   text-align: center;
   color: #ffffff;
  width:100%;        
}